@mixin event-box {
  @include overflow-hidden;
  @include bg-color-white;
  border-radius: $border-radius-large;
  box-shadow: $default-shadow;
}

.event-heading {
  @include font-black;
  @include pad-top-medium;
  @include pad-left-small;
  @include pad-right-small;
  @include pad-bottom-small;
  font-size: $type-30;
  opacity: 0;
  transition: opacity 0.25s ease-in-out; 
  
  @include breakpoint($medium) {
    font-size: $type-36;
    padding-top: $gutter-quad;
		padding-left: $gutter-quad;
    padding-right: $gutter-quad;
	}
  
  &--on {
    opacity: 1;
  }
}

.event-container {
  @include flex;
  @include flex-wrap;
  @include pad-left-xsmall;
  @include pad-right-xsmall;
  
  @include breakpoint($medium) {
		padding-left: $gutter-triple;
    padding-right: $gutter-triple;
	}
}

.event {
  @include relative;
  @include gap-bottom-small;
  @include event-box;
  flex: 1 1 44%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
  
  @include breakpoint(30em) {
    @include gap-left-xsmall;
    @include gap-right-xsmall;
    flex: 0 0 11.25em;
	}
  
  @include breakpoint($medium) {
    flex: 0 0 13.75em;
	}
  
  &--on {
    opacity: 1;
    transform: scale(1);
  }
  
  &--ready {
    transition: transform 0.15s ease-in-out;
  }
  
  &--add {
    @include type-color-primary;
    
    &::before {
      @include content-on;
      @include block;
      padding-top: 100%;
    }
  }
  
  &:hover {
    transform: scale(1.05);
  }
}

.event__icon-add {
  @include absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.875em;
  margin-left: -0.78125em;
}

.event__overlay {
  @include absolute;
  @include flex;
  @include flex-cross-center;
  @include bg-color-white;
  @include full-width;
  bottom: 0;
  left: 0;
  height: 2.4625em;
  padding: 0.4375em;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  
  @include breakpoint($medium) {
    height: 2.875em;
	}
}

.event__detail {
  @include flex-fluid;
  @include overflow-hidden;
  @include font-medium;
  @include type-align-left;
  line-height: 1.3;
}

.event__detail-name {
  @include type-truncate;
  font-size: $type-12;
  
  @include breakpoint($medium) {
    font-size: $type-14;
	}
}

.event__detail-location {
  @include type-truncate;
  font-size: 0.5625em;
  color: $secondary-text-color;
  
  @include breakpoint($medium) {
    font-size: $type-10;
	}
}

.event__date {
  @include type-align-right;
  flex: 0 0 1.6em;
  line-height: 1.1;
}

.event__date-month {
  @include type-uppercase;
  @include font-medium;
  font-size: $type-10;
  color: $secondary-text-color;
}

.event__date-day {
  @include type-color-primary;
  @include font-medium;
  font-size: $type-12;
}