// Used to wrap ANYTHING that needs to align to the grid.
// Use this to provide a container for grid columns and anything else that will align to the left or right edge of the grid.
// In general use this to wrap the entire content of the page.
.grid-container {
	@include grid-container;
}

// Used to wrap a discrete row of columns.  
// Only needed as a helper to clear a following row of columns to next line.
// You can use .small-break etc. to clear columns to next line without the need of .grid-row most of the time.
.grid-row {
  @include full-width;
	@include clear;
}

// Generate the small/medium/large size classes.  Used in conjuntion with .column
// Mobile First FTW
// Example: .small-1
@include generate-column-classes($small-screen-columns, $small-screen-prefix, $grid-gutter-small, $grid-outer-margin-small);

// Example: .medium-1
@include breakpoint($medium) {
  @include generate-column-classes($medium-screen-columns, $medium-screen-prefix, $grid-gutter-medium, $grid-outer-margin-medium);
}

// Example: .large-1
@include breakpoint($large) {
  @include generate-column-classes($large-screen-columns, $large-screen-prefix, $grid-gutter-large, $grid-outer-margin-large);
}

// Required column class for grid alignment
// Use in conjunction with .small-n, .medium-n, .large-n for column widths
.column {
	@include pull-left;
	@include column-padding;
}

// Used for a single full width column on all screen sizes.
// Can be used without .column
.column-all {
	@include full-width;
	@include clear;
	@include pull-left;
	@include column-padding;
}

// Used to give empty columns width for alignment.
// Can be used without .column
.column-spacer {
	@include column-padding;
	@include pull-left;
	
  &::before {
    @include block;
    @include content-on;  
    width: 1px;
    height: 1px;
  }
}

// Used to force a column to the next "line". small/medium/large available
.small-break {
  @include clear;
}

@include breakpoint($medium) {
  .small-break {
    clear: none;
  }
  
  .medium-break {
    @include clear;
  }
}

@include breakpoint($large) {
  .medium-break {
    clear: none;
  }
  
  .large-break {
    @include clear;
  }
}