* {
  @include zero; // normalize
  background-repeat: no-repeat; // normalize
  font-size: inherit; // normalize
  line-height: inherit; // normalize
}

html {
  background-color: $page-bg-color; // sanitize override
  font-family: $root-font-family; // sanitize override
  font-size: $root-font-size; // sanitize override
  line-height: $root-line-height; // sanitize override
  color: $primary-text-color; // sanitize override
}

::selection {
	background-color: $selection-bg-color; // sanitize override
  color: inherit; // sanitize override
}

a {
  @include type-color-link;
  transition: color $xshort-duration $default-timing;
  outline: none;
  text-decoration: none;  // sanitize override
  
  &:focus {
    outline: 1px dotted;
  }
  
  &:active {
    outline: none;
  }
}

button {
	cursor: pointer;
	outline: none;
  font-synthesis: none;
	
	&:focus {
		outline: 1px dotted;
	}
  
  &:active {
    outline: none;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  @include gap-top-zero;
	@include gap-bottom-zero;
  font-size: $root-font-size; // sanitize override
}

p {
	@include gap-bottom-small;
}

ul,
ol {
  @include gap-bottom-small;
}

ul {
	@include list-unstyled;
}

input, 
textarea, 
select, 
button {
  font-family: inherit; // normalize
  font-weight: inherit; // normalize
}

input, 
textarea {
  &::placeholder {
    opacity: 1; // normalize
  }
}

select {
  appearance: none; // normalize
}

fieldset {
  @include zero; // sanitize override
  @include border-none; // sanitize override
}

iframe {
  @include border-none; // normalize
}