// =============================================
//							     BUTTONS
// =============================================
@mixin button($size: null, $display: null) {
  @if $size == 'small' {
    @include button-small;
  }
  
  @if $size == 'medium' or $size == 'default' or $size == null {
    @include button-medium;
  }
  
  @if $size == 'large' {
    @include button-small;
  }
  
  @if $display != null {
    display: unquote($display);
  } @else {
    @include inline-block;
  }
  
  @if $button-text-case == 'uppercase' {
    @include type-sm-caps;
  }
  
	@include type-align-center;
  border-radius: $button-radius;
  border: 2px solid transparent;
	transition: all $xshort-duration ease-in-out;
  cursor: pointer;
  
  &:focus {
    outline: 1px dotted $primary-color;
  }
  
  &:active {
    transform: translateY(2px);
	}
}

@mixin button-small {
  @include font-medium;
  padding: $gutter $gutter * 1.5;
  height: 40px;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  
  .btn__icon {
	  font-size: 1.416666667em; // 17px
	}
}

@mixin button-medium {
  @include font-medium;
  height: 48px;
  padding: 12px $gutter-double;
  font-size: $button-medium-font-size;
  line-height: $button-medium-line-height;
};

@mixin button-large {
  @include font-light;
  padding: $gutter-double $gutter-triple;
  height: 60px;
  font-size: $button-large-font-size;
  line-height: $button-large-line-height;
  
  .btn__icon {
		top: -0.15em;
		font-size: 1.3125em; // 21px
	}
  
  .btn__icon-text {
		top: -0.45em;
	}
}

@mixin button-primary {
	background-color: $button-primary;
  color: $white;
	border: 2px solid transparent;
  
	&:hover {
		border-color: $button-primary-dark;
		color: $white;
	}
	
	&:active {
		background-color: $button-primary-dark;
		color: $white;
	}
}

@mixin button-primary-dark {
  background-color: $button-primary-dark;
  
  &:hover {
    border-color: darken($button-primary-dark, 5%);
  }
  
  &:active {
    background-color: darken($button-primary-dark, 5%);
  }
}

@mixin button-primary-outline {
  border-color: $button-primary;
  background-color: transparent;
  color: $button-primary;
  
  &:hover, 
  &:active {
    border-color: $button-primary-dark;
    color: $button-primary;
  }
  
  &:active {
    background-color: transparent;
  }
}

@mixin button-primary-outline-dark {
  border-color: $button-primary-dark;
  background-color: transparent;
  color: $button-primary-dark;
  
  &:hover, 
  &:active {
    border-color: darken($button-primary-dark, 10%);
    color: $button-primary-dark;
  }
  
  &:active {
    background-color: transparent;
  }
}

@mixin button-secondary {
  background-color: $button-secondary;
  
  &:hover {
    border-color: $button-secondary-dark;
  }
  
  &:active {
    background-color: $button-secondary-dark;
  }
}

@mixin button-secondary-outline {
  background-color: transparent;
  border-color: $button-secondary;
  color: $button-secondary;
  
  &:hover, 
  &:active {
    border-color: $button-secondary-dark;
    color: $button-secondary;
  }
  
  &:active {
    background-color: transparent;
  }
}

@mixin button-white($bg-color-primary-is-parent:null) {
  @include bg-color-white;
  @include type-color-primary;
  border-color: transparent;
  
  @if $bg-color-primary-is-parent == true {
    &:hover {
      @include type-color-primary;
      border-color: $button-primary-dark;
    }
  } @else {
    &:hover {
      @include type-color-primary;
      border-color: $button-primary;
    }
  }
  
  &:active {
    @include bg-color-white;
    border-color: $button-primary-dark;
  }
}

@mixin button-white-outline($bg-color-primary-is-parent:null) {
  @include type-color-white;
  border-color: $white;
  background-color: transparent;
  
  @if $bg-color-primary-is-parent == true {
    &:hover {
      border-color: $button-primary-dark;
    }
  } @else {
    &:hover {
      border-color: $button-primary;
    }
  }

  &:active {
    border-color: $button-primary-dark;
    background-color: transparent;
  }
}

@mixin button-link {
  @include type-color-link;
  background-color: transparent;
  
  &:hover, 
  &:active {
    border-color: transparent;
    background-color: transparent;
  }
}

@mixin button-link-white($bg-color-primary-is-parent:null) {
  @include type-color-link-white($bg-color-primary-is-parent);
  background-color: transparent;
  
  &:hover, 
  &:active {
    border-color: transparent;
    background-color: transparent;
  }
}

@mixin button-disabled {
  background-color: $button-disabled;
  cursor: default;
  
  &:hover,
  &:active {
    border-color: transparent;
  }
}

@mixin button-destructive {
  background-color: $error;
  
  &:hover, 
  &:active {
    border-color: darken($error, 10%);
  }
  
  &:active {
    background-color: darken($error, 10%);
  }
}

@mixin button-width-medium {
  @include full-width;
  
  @include breakpoint($xsmall) {
    max-width: 250px;
  }
}

@mixin button-width-large {
  @include full-width;
  
  @include breakpoint($xsmall) {
    max-width: 320px;
  }
}