// =============================================
//							BACKGROUND COLORS
// =============================================
@mixin bg-color-primary($importance: null) {
  background-color: $primary-color $importance;
  color: $white $importance;
}

@mixin bg-color-primary-dark($importance: null) {
  background-color: $primary-dark $importance;
  color: $white $importance;
}

@mixin bg-color-secondary($importance: null) {
  background-color: $secondary-color $importance;
  color: $white $importance;
}

@mixin bg-color-white($importance: null) {
  background-color: $white $importance;
}

@mixin bg-color-lighter($importance: null) {
  background-color: $bg-lightest $importance;
}

@mixin bg-color-light($importance: null) {
  background-color: $bg-light $importance;
}

@mixin bg-color-medium($importance: null) {
  background-color: $bg-medium $importance;
  color: $white $importance;
}

@mixin bg-color-dark($importance: null) {
  background-color: $bg-dark $importance;
  color: $white $importance;
}

@mixin bg-color-darker($importance: null) {
  background-color: $bg-darker $importance;
  color: $white $importance;
}

@mixin bg-color-success($importance: null) {
	background-color: $success $importance;
	color: $white $importance;
}

@mixin bg-color-warning($importance: null) {
	background-color: $warning $importance;
	color: $white $importance;
}

@mixin bg-color-error($importance: null) {
	background-color: $error !important $importance;
	color: $white $importance;
}

// =============================================
//							   TYPE COLORS
// =============================================

@mixin type-color-default($importance: null) {
	color: $primary-text-color $importance;
}

@mixin type-color-primary($importance: null) {
	color: $primary-color $importance;
}
@mixin type-color-primary-dark($importance: null) {
	color: $primary-dark $importance;
}

@mixin type-color-secondary($importance: null) {
	color: $secondary-color $importance;
}

@mixin type-color-white($importance: null) {
	color: $white $importance;
}

@mixin type-color-light($importance: null) {
	color: $grey-light $importance;
}

@mixin type-color-medium($importance: null) {
	color: $grey-medium $importance;
}

@mixin type-color-dark($importance: null) {
	color: $grey-dark $importance;
}

@mixin type-color-darker($importance: null) {
	color: $grey-darker $importance;
}

@mixin type-color-success($importance: null) {
	color: $success $importance;
}

@mixin type-color-warning($importance: null) {
	color: $warning $importance;
}

@mixin type-color-error($importance: null) {
	color: $error $importance;
}

@mixin type-color-link($importance: null) {
  color: $link-color $importance;
  
  &:hover {
    color: $link-hover-color $importance;
  }
  
  &:active {
    color: $link-active-color $importance;
  }
}

@mixin type-color-link-secondary($importance: null) {
  color: $secondary-color $importance;
  
  &:hover {
    color: lighten($secondary-color, 10%) $importance;
  }
  
  &:active {
    color: darken($secondary-color, 10%) $importance;
  }
}

@mixin type-color-link-white($bg-color-primary-is-parent:null, $importance: null) {
  color: $white $importance;
  
  &:hover {
    color: $link-hover-color $importance;
  }
  
  &:active {
    color: $link-active-color $importance;
  }
  
  @if $bg-color-primary-is-parent == true {
    .bg-color-primary & {
      &:hover,
      &:active {
        color: $white $importance;
        text-decoration: underline $importance;
      }
    }
  }
}