@mixin icon($display: null) {
  @if $display != false {
    @include inline-block;
  }
	width: 1em;
	height: 1em;
}

@mixin icon-xxxxxlarge { 
  font-size: 8em; // 128px on 16px base
}

@mixin icon-xxxxlarge { 
  font-size: 7em; // 112px on 16px base
}

@mixin icon-xxxlarge { 
  font-size: 6em; // 96px on 16px base
}

@mixin icon-xxlarge { 
  font-size: 5em; // 80px on 16px base
}

@mixin icon-xlarge { 
  font-size: 4em; // 64px on 16px base
}

@mixin icon-large { 
  font-size: 3em; // 48px on 16px base
}

@mixin icon-medium {
  font-size: 2em; // 32px on 16px base
}

@mixin icon-default {
  font-size: 1em; // 16px on 16px base
}

@mixin icon-small {
  font-size: 0.875em; // 14px on 16px base
}

@mixin icon-xsmall {
  font-size: 0.75em;  // 12px on 16px base
}



