// =============================================
//							     DISPLAY
// =============================================

@mixin fixed {
  position: fixed;
}

@mixin absolute {
  position: absolute;
}

@mixin relative { 
  position: relative; 
}

@mixin static { 
  position: static; 
}

@mixin inline { 
  display: inline;
  // visibility: visible;
}
@mixin inline-block { 
  display: inline-block;
  // visibility: visible;
}

@mixin block { 
  display: block; 
  // visibility: visible;
}

@mixin flex {
  display: flex;
  // visibility: visible;
}

@mixin hidden { 
  display: none; 
  // visibility: hidden; // Used to hide from screen readers
}

// =============================================
//							       FLOATS
// =============================================

@mixin clear { 
  clear: both;
  
  &::after { 
    @include content-on;
    @include block; 
    height: 0; 
    font-size: 0; 
    clear: both; 
    visibility: hidden; 
  }
}

@mixin pull-right { 
  float: right; 
}

@mixin pull-left { 
  float: left; 
}

@mixin pull-none { 
  float: none; 
}

// =============================================
//							 FLEXBOX CONTAINERS
// =============================================

@mixin flex-main-center {
  justify-content: center;
}

@mixin flex-cross-center {
  align-items: center;
}

@mixin flex-vertical {
  flex-direction: column;
}

@mixin flex-horizontal {
  flex-direction: row;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-nowrap {
  flex-wrap: nowrap;
}

@mixin justify-center {
  justify-content: center;
}

@mixin align-items-center {
  align-items: center;
}

// =============================================
//							 FLEXBOX ITEMS
// =============================================

@mixin flex-grow {
  flex: 1 0 auto;
}

@mixin flex-shrink {
  flex: 0 1 auto;
}

@mixin flex-fluid {
  flex: 1 1 auto;
}

@mixin flex-fixed($basis: null) {
  @if $basis {
    flex: 0 0 $basis;
  } @else {
    flex: 0 0 auto;
  }
}

@mixin flex-none {
  flex: none;
}

// =============================================
//							     MARGINS
// =============================================

@mixin gapped($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    margin: 0 $importance; 
  } @else {
    margin: $gutter * $multiple $importance; 
  }
}

@mixin gap-top($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    margin-top: 0 $importance; 
  } @else {
    margin-top: $gutter * $multiple $importance; 
  }
}

@mixin gap-right($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    margin-right: 0 $importance; 
  } @else {
    margin-right: $gutter * $multiple $importance; 
  }
}

@mixin gap-bottom($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    margin-bottom: 0 $importance; 
  } @else {
    margin-bottom: $gutter * $multiple $importance; 
  }
}

@mixin gap-left($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    margin-left: 0 $importance; 
  } @else {
    margin-left: $gutter * $multiple $importance; 
  }
}

@mixin gap-top-zero($importance: null) { 
  @include gap-top(0, $importance); 
}

@mixin gap-top-xsmall($importance: null) { 
  @include gap-top(1, $importance); 
}

@mixin gap-top-small($importance: null) { 
  @include gap-top(2, $importance); 
}

@mixin gap-top-medium($importance: null) { 
  @include gap-top(3, $importance); 
}

@mixin gap-top-large($importance: null) { 
  @include gap-top(6, $importance); 
}

@mixin gap-top-xlarge($importance: null) { 
  @include gap-top(9, $importance); 
}

@mixin gap-top-xxlarge($importance: null) { 
  @include gap-top(12, $importance); 
}

@mixin gap-bottom-zero($importance: null) { 
  @include gap-bottom(0, $importance); 
}

@mixin gap-bottom-xsmall($importance: null) { 
  @include gap-bottom(1, $importance); 
}

@mixin gap-bottom-small($importance: null) { 
  @include gap-bottom(2, $importance); 
}

@mixin gap-bottom-medium($importance: null) { 
  @include gap-bottom(3, $importance); 
}

@mixin gap-bottom-large($importance: null) { 
  @include gap-bottom(6, $importance); 
}

@mixin gap-bottom-xlarge($importance: null) { 
  @include gap-bottom(9, $importance); 
}

@mixin gap-bottom-xxlarge($importance: null) { 
  @include gap-bottom(12, $importance); 
}

@mixin gap-left-zero($importance: null) { 
  @include gap-left(0, $importance); 
}

@mixin gap-left-xsmall($importance: null) { 
  @include gap-left(1, $importance); 
}

@mixin gap-left-small($importance: null) { 
  @include gap-left(2, $importance); 
}

@mixin gap-left-medium($importance: null) { 
  @include gap-left(3, $importance); 
}

@mixin gap-right-zero($importance: null) { 
  @include gap-right(0, $importance); 
}

@mixin gap-right-xsmall($importance: null) { 
  @include gap-right(1, $importance); 
}

@mixin gap-right-small($importance: null) { 
  @include gap-right(2, $importance); 
}

@mixin gap-right-medium($importance: null) { 
  @include gap-right(3, $importance); 
}

// =============================================
//							     PADDING
// =============================================

@mixin padded($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    padding: 0 $importance; 
  } @else {
    padding: $gutter * $multiple $importance; 
  }
}

@mixin pad-top($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    padding-top: 0 $importance; 
  } @else {
    padding-top: $gutter * $multiple $importance; 
  }
}

@mixin pad-right($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    padding-right: 0 $importance; 
  } @else {
    padding-right: $gutter * $multiple $importance; 
  }
}

@mixin pad-bottom($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    padding-bottom: 0 $importance; 
  } @else {
    padding-bottom: $gutter * $multiple $importance; 
  }
}

@mixin pad-left($multiple: 1, $importance: null) { 
  @if $multiple == 0 {
    padding-left: 0 $importance; 
  } @else {
    padding-left: $gutter * $multiple $importance; 
  }
}

@mixin pad-top-zero($importance: null) { 
  @include pad-top(0, $importance); 
}

@mixin pad-top-xsmall($importance: null) { 
  @include pad-top(1, $importance); 
}

@mixin pad-top-small($importance: null) { 
  @include pad-top(2, $importance); 
}

@mixin pad-top-medium($importance: null) { 
  @include pad-top(3, $importance); 
}

@mixin pad-top-large($importance: null) { 
  @include pad-top(6, $importance); 
}

@mixin pad-top-xlarge($importance: null) { 
  @include pad-top(9, $importance); 
}

@mixin pad-top-xxlarge($importance: null) { 
  @include pad-top(12, $importance); 
}

@mixin pad-bottom-zero($importance: null) { 
  @include pad-bottom(0, $importance); 
}

@mixin pad-bottom-xsmall($importance: null) { 
  @include pad-bottom(1, $importance); 
}

@mixin pad-bottom-small($importance: null) { 
  @include pad-bottom(2, $importance); 
}

@mixin pad-bottom-medium($importance: null) { 
  @include pad-bottom(3, $importance); 
}

@mixin pad-bottom-large($importance: null) { 
  @include pad-bottom(6, $importance); 
}

@mixin pad-bottom-xlarge($importance: null) { 
  @include pad-bottom(9, $importance); 
}

@mixin pad-bottom-xxlarge($importance: null) { 
  @include pad-bottom(12, $importance); 
}

@mixin pad-left-zero($importance: null) { 
  @include pad-left(0, $importance); 
}

@mixin pad-left-xsmall($importance: null) { 
  @include pad-left(1, $importance); 
}

@mixin pad-left-small($importance: null) { 
  @include pad-left(2, $importance); 
}

@mixin pad-left-medium($importance: null) { 
  @include pad-left(3, $importance); 
}

@mixin pad-right-zero($importance: null) { 
  @include pad-right(0, $importance); 
}

@mixin pad-right-xsmall($importance: null) { 
  @include pad-right(1, $importance); 
}

@mixin pad-right-small($importance: null) { 
  @include pad-right(2, $importance); 
}

@mixin pad-right-medium($importance: null) { 
  @include pad-right(3, $importance); 
}

// =============================================
//							     OVERFLOW
// =============================================

@mixin overflow-hidden {
  overflow: hidden;
}

@mixin overflow-x-hidden {
  overflow-x: hidden;
}

@mixin overflow-y-hidden {
  overflow-y: hidden;
}

@mixin overflow-visible {
  overflow: visible;
}

@mixin overflow-x-hidden-scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-y-hidden-scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

// =============================================
//							     CONTENT
// =============================================

@mixin content-on { 
  content: " "; 
}

@mixin hide-if-empty {
  &:empty {
    @include hidden;
  }
}

// =============================================
//							       WIDTH
// =============================================

@mixin full-width { 
  width: 100%; 
}

@mixin full-height { 
  height: 100%; 
}

// =============================================
//							        MISC
// =============================================

@mixin zero { 
  margin: 0; 
  padding: 0; 
}

@mixin center { 
  margin-right: auto; 
  margin-left: auto; 
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin round { 
  overflow: hidden; 
  border-radius: 9999em; 
}