@mixin list {
	li {
		@include gap-bottom-xsmall;
	}
}

@mixin list-unstyled {
  list-style: none;
}

@mixin list-disc {
  li {
    @include gap-left-small;
    list-style-type: disc;
  }
}

@mixin list-square {
  li {
    @include gap-left-small;
    list-style-type: square;
  }
}

@mixin list-ordered {
  li {
    @include gap-left-small;
		list-style-type: inherit;
  }
}

@mixin list-link-select {
	li {
		@include border-bottom;
		@include gap-bottom-zero;
    
    &:first-child {
      @include border-top;
    }
		
		a {
			@include block;
			padding: $gutter-double $gutter-triple;
		}
	}
}