// =============================================
//							     CONFIG
// =============================================
$gutter: 10px !default;
$gutter-double: $gutter * 2 !default;
$gutter-triple: $gutter * 3 !default;
$image-path: '../img/' !default;
$font-path: '../fonts/' !default;

// =============================================
//							   DEFAULT COLORS
// =============================================

$white: #fff !default;
$black: #000 !default;

$grey-lightest: #f0f0f0 !default;
$grey-lighter: #e0e0e0 !default;
$grey-light: #999 !default;
$grey-medium: #808080 !default;
$grey-dark: #383838 !default;
$grey-darker: #262626 !default;

$bg-lightest: $grey-lightest !default;
$bg-lighter: $grey-lighter !default;
$bg-light: $grey-light !default;
$bg-medium: $grey-medium !default;
$bg-dark: $grey-dark !default;
$bg-darker: $grey-darker !default;

$page-bg-color: $white !default;

$primary-color: rebeccapurple !default;
$primary-dark: darken($primary-color, 20%) !default;
$secondary-color: complement($primary-color) !default;

$primary-text-color: $grey-darker !default;

$selection-bg-color: lighten($primary-text-color, 40%) !default;

$link-color: $primary-color !default;
$link-hover-color: lighten($link-color, 10%) !default;
$link-active-color: darken($link-color, 10%) !default;

$border-color: $grey-lighter !default;

$success: springgreen !default;
$warning: orangered !default;
$error: red !default;

// =============================================
//							     FONTS
// =============================================

$root-font-family: 'proxima-nova', sans-serif !default;
$root-font-size: 16px !default;
$root-line-height: 1.5 !default;

$page-font-weight: 300 !default;
$heading-font-weight: 300 !default;
$bold-font-weight: 600 !default;

$font-weight-type: 'digit' !default;
$font-black: 900 !default;
$font-bold: 700 !default;
$font-semi-bold: 600 !default;
$font-medium: 500 !default;
$font-regular: 400 !default;
$font-light: 300 !default;

// =============================================
//      BREAKPOINTS (COMPASS-BREAKPOINT)
// =============================================

// Viewport widths
$small-screen-default: 640px !default; //used for calculating grid percentages
$xsmall-screen-min: 375px !default;
$small-screen-min: 600px !default;
$medium-screen-min: 768px !default;
$ipad-screen-min: 1024px !default;
$large-screen-min: 1144px !default;
$xlarge-screen-min: 1280px !default;
$xxlarge-screen-min: 1440px !default;
$xxxlarge-screen-min: 1600px !default;
$xxxxlarge-screen-min: 1920px !default;
$xxxxxlarge-screen-min: 2560px !default;

// Breakpoints as ems to handle browser zoom better
$xsmall: strip-unit($xsmall-screen-min) / strip-unit($root-font-size) + 'em' !default;
$small: strip-unit($small-screen-min) / strip-unit($root-font-size) + 'em' !default;
$medium: strip-unit($medium-screen-min) / strip-unit($root-font-size) + 'em' !default;
$ipad: strip-unit($ipad-screen-min) / strip-unit($root-font-size) + 'em' !default;
$large: strip-unit($large-screen-min) / strip-unit($root-font-size) + 'em' !default;
$xlarge: strip-unit($xlarge-screen-min) / strip-unit($root-font-size) + 'em' !default;
$xxlarge: strip-unit($xxlarge-screen-min) / strip-unit($root-font-size) + 'em' !default;
$xxxlarge: strip-unit($xxxlarge-screen-min) / strip-unit($root-font-size) + 'em' !default;
$xxxxlarge: strip-unit($xxxxlarge-screen-min) / strip-unit($root-font-size) + 'em' !default;
$xxxxxlarge: strip-unit($xxxxxlarge-screen-min) / strip-unit($root-font-size) + 'em' !default;

// Screen Density
$xxdpi: min-resolution 1.5dppx !default;
$xxxdpi: min-resolution 3dppx !default;

// =============================================
//						        THE GRID
// =============================================

$small-screen-columns: 4 !default;
$medium-screen-columns: 8 !default;
$large-screen-columns: 12 !default;

$small-screen-gutter: 16px !default;
$medium-screen-gutter: 24px !default;
$large-screen-gutter: 28px !default;

$small-screen-prefix: 'small' !default;
$medium-screen-prefix: 'medium' !default;
$large-screen-prefix: 'large' !default;

$container-max-width: $large-screen-min !default;

$grid-gutter-small: percentage(strip-unit($small-screen-gutter)/strip-unit($small-screen-default)) !default; // 16/640 = 2.5%
$grid-gutter-medium: percentage(strip-unit($medium-screen-gutter)/strip-unit($medium-screen-min)) !default; // 24/768 = 3.125%
$grid-gutter-large: percentage(strip-unit($large-screen-gutter)/strip-unit($large-screen-min)) !default; // 28/1144 = 2.4475524%

$grid-outer-margin-small: 3.5% !default;
$grid-outer-margin-medium: 2.5% !default;
$grid-outer-margin-large: 20px !default;

// =============================================
//							      TILES
// =============================================

$tile-width-small: 18.75em !default; //300px
$tile-height-small: 10.875em !default; //174px
$tile-width-large: 21.5em !default; //344px
$tile-height-large: 12.4375em !default; //199px
$tile-margin: 0.625em !default; //10px
$tile-gutter: $tile-margin * 2 !default;
$tile-radius: 6px !default;
$tile-icon-color: #c5ced4 !default;
$tile-columns-small: 1 !default;
$tile-columns-medium: 2 !default;
$tile-columns-large: 3 !default;
$tile-header-bg-color: $white !default;
$tile-footer-bg-color: $white !default;
$tile-carousel-arrow-size-small: 2em !default;
$tile-carousel-arrow-size-large: 4em !default;
$balance-color: $white !default;

// =============================================
//							 MISC VARIABLES
// =============================================

$header-size-small: 3.75em !default; //60px
$header-size-large: 7.5em !default; //120px

$modal-max-width-small: 25em !default; //400px
$modal-max-width-large: $medium !default;

$border-radius-xsmall: 1px !default;
$border-radius-small: 2px !default;
$border-radius-medium: 4px !default;
$border-radius-large: 8px !default;
$border-radius-xlarge: 15px !default;

$button-radius: $border-radius-medium !default;