@mixin table {
  @include gap-bottom-medium;
  @include full-width;
  @include bordered;
  @include type-default;
  
  thead {
    th {
      @include border-bottom;
    }
  }
  
  tr {
    @include border-top;
		background-color: $white;
    
    &:first-child {
      border-top: 0;
    }
		
		&:nth-child(even) {
			background: #f7f8f8;
		}
  }
  
  th, 
  td {
    @include border-left;
    @include type-align-left;
    @include padded;
    
    &:first-child {
      border-left: 0;
    }
    
    // One Column
    &:first-child:nth-last-child(1) {
    	@include full-width;
    }

    // Two Columns
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ th,
    &:first-child:nth-last-child(2) ~ td {
    	width: 50%;
    }

    // Three Columns
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ th,
    &:first-child:nth-last-child(3) ~ td {
    	width: 33.3333%;
    }

    // Four Columns
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ th,
    &:first-child:nth-last-child(4) ~ td {
    	width: 25%;
    }
    
    // Five Columns
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ th,
    &:first-child:nth-last-child(5) ~ td {
    	width: 20%;
    }
  }
  
  td {
    @include type-vertical-top;
  }
  
  // Reset widths on colspan columns
  [colspan] {
    width: auto !important;
  }
}