$root-font-family: 'Raleway', sans-serif;

$page-font-weight: 300;
$heading-font-weight: 300;
$bold-font-weight: 700;

$font-black: 900;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;

$primary-color: #5DCE7C;
$primary-dark: darken(#5DCE7C, 10%);

$secondary-color: #4B4A4A;

$page-bg-color: $white;
$border-color: #E0E0E0;

$primary-text-color: #393838;
$secondary-text-color: #666666;

$selection-bg-color: lighten($primary-color, 40%);

$link-color: $primary-color;
$link-hover-color: lighten($primary-color, 10%);
$link-active-color: darken($primary-color, 10%);

$button-radius: 0;
$border-radius-medium: 6px;
$border-radius-xlarge: 12px;